<div data-hook="admin_bulk_discount_form_fields" class="row">
  <div class="col-md-4">
    <%= f.label :name, Spree.t(:name) %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
</div>

<div class="row">
  <div data-hook="admin_bulk_discount_break_points" class="col-md-12">
    <div class="panel panel-default categories">
      <div class="panel-heading">
        <h1 class="panel-title">
          Break Points
        </h1>
      </div>

      <table id="break-point-table" class="table">
        <colgroup>
          <col style="width: 42%">
          <col style="width: 42%">
          <col style="width: 16%">
        </colgroup>
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Discount Rate</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody id="break-points">
          <% if f.object.break_points && f.object.break_points.any? %>
              <% f.object.break_points.sort.each do |quantity, rate| %>
                  <tr>
                    <td>
                      <%= quantity %>
                    </td>
                    <td>
                      <%= rate %>
                    </td>
                    <td class="actions actions-1 text-right">
                      <a class="btn btn-danger btn-sm icon-link with-tip action-delete no-text fa-trash no-text" data-remove-breakpoint>
                        <span class="icon icon-delete"></span>
                      </a>
                      <input type="hidden" name="bulk_discount[break_points][<%= quantity %>]" value="<%= rate %>">
                    </td>
                  </tr>
              <% end %>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <td>
              <input class="form-control input-sm" id="new-break-point-quantity" type="number" placeholder="quantity"/>
            </td>
            <td>
              <input class="form-control input-sm" id="new-break-point-rate" type="text" placeholder="0.05"/>
            </td>
            <td class="actions action-1 text-right">
              <a class="btn btn-success btn-sm icon-link with-tip no-text fa-add no-text" data-add-breakpoint>
                <span class="icon icon-plus"></span>
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<script>
    function CreateBreakPoint(quantity, rate) {
        // Create form element
        var input = $('<input type="hidden" />').attr("name", "bulk_discount[break_points][" + quantity + "]").val(rate);

        // Create table row
        var tr = $('<tr>').append($('<td>').text(quantity))
                .append($('<td>').text(rate))
                .append($('<td>').addClass('actions').append(input).append('<a class="fa fa-trash no-text with-tip remove-breakpoint" data-action="delete" href="#"></a>'));

        // Append to table
        $('#break-points').append(tr);
    }

    $(document).ready(function () {
        $("[data-add-breakpoint]").on('click', function (e) {
            e.preventDefault();

            var quantity = $('#new-break-point-quantity').val(), rate = $('#new-break-point-rate').val();

            if (!quantity || !rate)
                return;

            // Clear values
            $('#new-break-point-quantity, #new-break-point-rate').val('');

            CreateBreakPoint(quantity, rate);
        });

        $('#break-point-table').on('click', '[data-remove-breakpoint]', function () {
            $(this).closest('tr').remove();
        });
    });
</script>