<% content_for :page_title do %>
    Bulk Discounts
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:new_bulk_discount), new_object_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_product' } %>
<% end if can?(:create, Spree::BulkDiscount) %>

<% if @bulk_discounts.any? %>
    <table class="table">
      <colgroup>
        <col style="width: 80%">
        <col style="width: 20%">
      </colgroup>
      <thead>
        <tr data-hook="rate_header">
          <th><%= Spree.t(:name) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @bulk_discounts.each do |bulk_discount| %>
            <tr id="<%= spree_dom_id bulk_discount %>" data-hook="rate_row" class="<%= cycle('odd', 'even') %>">
              <td class="align-center"><%= bulk_discount.name %></td>
              <td class="actions">
                <%= link_to_edit bulk_discount, :no_text => true %>
                <%= link_to_delete bulk_discount, :no_text => true %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <div class="col-md-12 no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:empty, scope: '.models.spree/bulk_discount')) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_bulk_discount_path %>!
    </div>
<% end %>