<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
    New Break Point
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to "Back to Bulk Discounts", spree.admin_bulk_discounts_path, :icon => 'icon-arrow-left' %>
    </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bulk_discount } %>

<%= form_for [:admin, @bulk_discount] do |f| %>
    <fieldset class="no-border-top">
      <%= render :partial => 'break_point_form', :locals => { :f => f } %>
      <div class="clear"></div>
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </fieldset>
<% end %>